@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lsdTrip {
  0% { background-color: red; }
  16% { background-color: orange; }
  32% { background-color: yellow; }
  48% { background-color: green; }
  64% { background-color: blue; }
  80% { background-color: purple; }
  100% { background-color: red; }
}

.lsd-effect {
  animation: lsdTrip 10s infinite;
}



